/* mijn werk */
main {
    margin: 0 50px 0 50px;
}
#MijnwerkFoto1, #MijnwerkFoto2, #MijnwerkFoto3, #MijnwerkFoto4 {
    width: 100%;
    border-radius: 0 0 15px 15px;
    margin-bottom: -7px;
}
.project {
    margin-bottom: 40px;
    border-radius: 15px;
    background-color: #BFD4E3;
}
.tekstProjecten {
    padding: 15px 35px 30px 35px;
}
h2 {
    margin-top: 0;
}
.datum {
    margin-bottom: 5px;
}
h3 {
    display: none;
}
h1 {
    margin-bottom: 20px;
}



/*tablet*/
@media only screen and (min-width: 750px){
	main {
        margin: 0 90px 0 90px;
    }
    .project {
        display: flex;
        align-items: center;
    }
    #MijnwerkFoto1, #MijnwerkFoto2, #MijnwerkFoto3, #MijnwerkFoto4 {
        border-radius: 0 15px 15px 0;
        width: 50%;
        object-fit: cover;
    }
}

/*klein*/
@media only screen and (min-width: 1050px){
    h3 {
        display: block;
        margin-top: 0;
    }
}


/*groot*/
@media only screen and (min-width: 1560px) {
    main {
        margin: 0 250px 0 250px;
    }
}