/* algemeen */
body{
    font-family: Poppins, sans-serif;
    background-color: #FFF;
    margin: 0;
    color: #000;
}
header {
	box-shadow: 0px 2px 8px #D1D1D1;
	position: sticky;
	top: 0;
	background-color: #FFF;
	padding: 10px 22px 10px 22px;
	border-radius: 0 0 15px 15px;
    margin-bottom: 40px;
    z-index: 99;
}
#logo {
    width: 140px;
}
.headerItem {
    height: 25px;
}
h1 {
	font-size: 32px;
	font-weight: bold;
	letter-spacing: 2.1px;
	line-height: 45px;
    margin-top: 0;
}
h2 {
	font-size: 24px;
	letter-spacing: 1.8px;
	line-height: 35px;
}
h3 {
	font-size: 19px;
	letter-spacing: 1.2px;
	line-height: 30px;
}
p {
    font-size: 16px;
	letter-spacing: 0.8px;
	line-height: 25px;
    font-weight: lighter;
}
.light {
	font-weight: lighter;
}
.bold {
	font-weight: bold;
}
footer{
    background-color: #1D3354;
	color: #FFF;
	font-size: 15px;
	font-weight: lighter;
	letter-spacing: 2,5px;
	text-align: center;
	margin-bottom: -15px;
	padding: 5px 0 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footerItem {
	display: inline;
}
#Copyright {
	width: 12px;
	margin-right: 5px;
}
.button {
	background-color: #1D3354;
	color: #FFF;
	text-decoration: none;
	padding: 10px 25px 10px 25px;
	border-radius: 10px;
	font-size: 15px;
	font-weight: lighter;
	letter-spacing: 2,5px;
}
.button:hover, #btntotop:hover {
	background-color: #D64045;
}
#toTop {
	display: none;
	position: fixed;
	bottom: 15px;
	right: 20px;
	z-index: 99;
}
#btntotop {
	width: 17px;
	background-color: #1D3354;
	padding: 9px 11px 9px 11px;
	border-radius: 25px;
}
.container {
	display: grid;
}
#vorigePagina {
    font-size: 19px;
    text-decoration: none;
    color: #000;
    font-weight: lighter;
}
#pijlTerug {
    margin-right: 15px;
    width: 30px;
}


/*hamburgermenu*/
.menutoggle {
	float: right;
}
nav a {
	font-size: 15pt;
	font-weight: lighter;
	color: #000;
	text-decoration: none;
}
.menutoggle a {
	text-decoration: none;
	color: #000;
	font-weight: lighter;
	font-size: 30pt;
}
nav, .menutoggle {
	margin-left: auto;
}
nav ul {
	display: flex;
	flex-flow: column;
}
nav ul li {
	list-style: none;
	margin-right: 50px;
	margin-bottom: 5px;
}
nav ul li:hover {
    font-weight: bold;
    color: #D64045;
}
.inactive {
	max-height: 0px;
	transition: max-height 0.6s;
	overflow: hidden;
}
.active {
	transition: max-height 0.6s;
	overflow: hidden;
}




/*tablet*/
@media only screen and (min-width: 750px){

}




/*klein*/
@media only screen and (min-width: 1050px){
	nav ul {
		display: flex;
		flex-flow: row;
	}
	header {
		display: flex;
		align-items: center;
	}
	.menutoggle {
		display: none;
	}
	.inactive {
		max-height: 100px;
	}
	h1 {
		font-size: 50px;
		letter-spacing: 5.7px;
		line-height: 70px;
	}
	h2 {
		font-size: 30px;
		letter-spacing: 2px;
		line-height: 45px;
	}
	h3 {
		font-size: 21px;
		letter-spacing: 1.6px;
		line-height: 35px;
	}
    p {
        font-size: 17px;
        line-height: 28px;
        letter-spacing: 1.2px;
    }
	#btntotop {
		width: 25px;
		padding: 12px 15px 12px 15px;
		border-radius: 30px;
	}
	#toTop {
		bottom: 20px;
		right: 25px;
	}	
	#Copyright {
		width: 16px;
	}
	#contrastKnop {
		width: 25px;
	}
    #btntotop {
		width: 25px;
		padding: 12px 15px 12px 15px;
		border-radius: 30px;
	}
	#toTop {
		bottom: 20px;
		right: 25px;
	}
}


/*groot*/
@media only screen and (min-width: 1560px) {

}




/* Over mij */
main {
    margin: 0 50px 0 50px;
}
#introductieOverMij {
    margin-bottom: 20px;
}
#OverMijFoto1 {
    width: 100%;
}
p {
    margin-top: -10px;
    margin-bottom: 40px;
}
.inHetKort {
    margin-top: 0;
}
.uitzondering {
    margin-bottom: 20px;
}
#lijstPersoonlijkheden {
    background-color: #1D3354;
    color: #FFF;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 40px;
}
ul li {
    font-size: 16px;
	letter-spacing: 0.8px;
	line-height: 25px;
    font-weight: lighter;
}
.vaardigheid {
    width: 60px;
    margin: 0 20px 20px 0;
}
#OverMijFoto5, #OverMijFoto9 {
    margin-right: 0;
}
.clearTop {
    margin-top: -15px;
}
.elementCV {
    padding: 40px;
    background-color: #1D3354;
    color: #FFF;
    border-radius: 15px;
    margin-bottom: 15px;
}
.elementCV p {
    margin-bottom: 0;
}
footer p {
    margin: 0;
}
footer {
    margin-top: 40px;
}




/*tablet*/
@media only screen and (min-width: 750px){
	main {
        margin: 0 70px 0 70px;
    }
    #persoonlijkheidOverMij {
        display: flex;
        align-items: flex-start;
    }
    #lijstPersoonlijkheden {
        width: 200%;
        margin-top: 15px;
        margin-left: 40px;
    }
    #OverMijFoto5 {
        margin-right: 20px;
    }
    #cvItems {
        display: flex;
        align-items: flex-start;
    }
    .titelErvaring {
        margin-top: -15px;
    }
    #ervaring {
        margin-left: 40px;
    }
    #opleinding {
        margin-right: 40px;
    }
}


/*klein*/
@media only screen and (min-width: 1050px){
	main {
        margin: 0 100px 0 100px;
    }
    #tekstIntro {
        display: flex;
        align-items: flex-start;
        flex-direction: row-reverse;
    }
    #OverMijFoto1 {
        width: 47%;
        margin-right: 40px;
    }
    .tekstBreak {
        -webkit-columns: 40px 2;
            /* Chrome, Safari, Opera */
            -moz-columns: 60px 2;
            /* Firefox */
            columns: 60px 2;
    }
    .break {
        padding-top: 15px;
    }
}


/*groot*/
@media only screen and (min-width: 1560px) {
    main {
        margin: 0 200px 0 200px;
    }
}